ArrangeVegetables
ckpt
PnPCounterToCab
PnPCounterToSink
PnPMicrowaveToCounter
PnPStoveToCounter
OpenSingleDoor
CloseDrawer
TurnOnMicrowave
TurnOnSinkFaucet
TurnOnStove
ArrangeVegetables
MicrowaveThawing
RestockPantry
PreSoakPan
PrepareCoffee
.venv
